:host {
  display: block;
  overflow: hidden;
}

#map {
  position: fixed;
  top: 120px; // 68px header + 52px chips bar
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  #map {
    top: 120px;
  }
}
